html {
    font: 12pt Arial;
}
body {
    background: url("https://images5.alphacoders.com/774/thumb-1920-774369.jpg") no-repeat top center fixed;
    background-size: cover;
}
/*
    Index.php
*/
.conteudo{
    padding: 2%;
    margin: 100px auto 100px auto;
    width: 1000px;
    background-color: white;
    min-height: 400px;
}

.tabela{
    width: 100%;
    text-align: center;
}

.item{
    width: 200px;
    padding: 5%;
    border: 1px solid black;
}
/*
    Arquivos
*/
.informacoes{
    margin: 100px auto 100px auto;
    width: 550px;
    min-height:100px;
}

.programa::before {
    content: "";
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #273747;
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;
}

.programa {
    background-color: rgba(255,255,255,.8);
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}

a {
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    text-decoration: underline;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}

.titlemain{
    color: white;
}

.subtitle{
    color: white;
    width: 100%;
}

span{
    color: red;
}

.dados{
    margin-top: 2%;
    width: 50%;
    line-height: 30px;
}

.botao{
    width: 25%;
    padding: 1%;
    margin-top: 2%;
    font: 12pt Helvetica;
    transition: 0.4s;
    border-radius: 15px;
    border: solid 1px #8dc3f8;
}

.botao:hover{
    background-color: #8dc3f8;
}

select{
    font: 12pt Helvetica;
}

.infoTabela{
    color: white;
    border: 1px solid silver;
    border-radius: 15px;
    padding: 2%;
    width: 150px;
}

.col2{
    padding-left: 50%;
}

.note{
    font-size: 10pt;
    color: red;
    padding-top: 40px;
}